body{
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

}

.main-container{
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 450px;
    height: auto;
    text-align: left;
    max-width: 950px;
    min-width: 320px;
}

.ingresos-container{
    margin: 55px 55px 55px 55px;
    width: 100%;
    height: 200px;
    background-image: linear-gradient( 92.7deg,  rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2% );
    border-radius: 20px;
    box-shadow: 6px 8px #888888;
    padding: 15px;
}

.gastos-container{
    width: 100%;
    height: 650px;
    background-image: linear-gradient( 92.7deg,  rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2% );
    margin: 55px 55px 55px 55px;   
    border-radius: 20px;
    box-shadow: 6px 8px #888888;
    padding: 15px;
}

input{
    width: 420px;
    border-radius: 10px;
    border: 1px solid wheat;
    margin-bottom: 8px;
    margin-top: 2px;
}
